<h3 class="text-center">Chambre #{{ room.number }}</h3>
<hr>

<div class="room-content {{ room.state }}">
  <div class="room-content-title">Spécificités</div>
  <div>
    <div ng-if="room.specificity.vip">Ce client est VIP.</div>
    <div ng-if="!room.specificity.vip">Ce client n'est pas VIP.</div>
    <div ng-if="room.specificity.typeOfLeave">Statut : {{ room.specificity.typeOfLeave }}</div>
  </div>
</div>

<div class="room-content {{ room.state }}">
  <div class="room-content-title">Employé</div>
  <div class="room-housemaid clearfix">
    <div ng-if="!room.housemaid">Aucun employé dans cette chambre.</div>
    <div ng-if="room.housemaid">
      <div class="row">
        <div class="col-md-4"><img ng-src="{{ room.housemaid.picture }}"/></div>
        <div class="col-md-4">{{ room.housemaid.name }}</div>
        <div class="col-md-4">
          {{ room.housemaid.timeElapsed | date: "mm:ss" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="room-content {{ room.state }}">
  <div class="room-content-title">Actions</div>
  <div class="btn btn-default">Envoyer un réparateur</div>
</div>

